body {
  background-color: #f4f7f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
}

/* DASHBOARD CARDS (The Stats) */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.card h3 { margin: 0; font-size: 14px; color: #777; }
.card p { margin: 10px 0 0; font-size: 24px; font-weight: bold; }

.card-blue { border-top: 4px solid #3498db; }
.card-green { border-top: 4px solid #2ecc71; }
.card-red { border-top: 4px solid #e74c3c; }
.card-orange { border-top: 4px solid #f39c12; }

/* FORM & LIST BOXES */
.form-box, .list-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  margin-bottom: 30px;
}

/* INPUTS */
input, .grade-select {
  padding: 12px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

button {
  padding: 12px 20px;
  background-color: #34495e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* TABLE STYLES */
table { width: 100%; border-collapse: collapse; margin-top: 15px; }
th { text-align: left; color: #777; padding-bottom: 10px; border-bottom: 2px solid #eee; }
td { padding: 15px 0; border-bottom: 1px solid #eee; vertical-align: middle; }

/* BADGES & BUTTONS */
.badge {
  display: inline-block;
  background: #eee;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 5px;
}

.pay-btn { background-color: #3498db; padding: 6px 12px; font-size: 12px; }
.status-paid { color: #2ecc71; font-weight: bold; border: 1px solid #2ecc71; padding: 5px; border-radius: 5px;}

.alert-badge {
  background: #ffeded; color: #e74c3c;
  padding: 5px 10px; border-radius: 4px;
  font-weight: bold; font-size: 12px;
  border: 1px solid #e74c3c;
  margin-right: 10px;
  animation: pulse 2s infinite;
}

.icon-btn {
  background: none; border: 1px solid #ddd;
  padding: 5px; margin: 0 2px; color: black;
}

@keyframes pulse { 0% { opacity: 1; } 50% { opacity: 0.6; } 100% { opacity: 1; } }